body{
    font-family: 'Roboto';
    background-color:blueviolet;
    color: white;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.score{
    display: flex;
    gap: 15px;
}

.weapons{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.rock,.paper,.scissors{
    width: 15%;
    height: 100%;
    transition:1s;
}

.rock:hover,.paper:hover,.scissors:hover{
    transform: scale(1.1);
}

img{
    width: 100%;
}

thead{
    border-bottom: 2px solid white;
    text-align: center;
   
}

h2{
    text-align: center;
}